openapi: '3.0.3'

info:
  title: API
  description: |
      Trade derivatives on the **[Lightning Network](https://lightning.network/)**.
      You can find our website **[here](https://lnmarkets.com/)**.
  version: '1.0.0'

servers:
  - description: Mainnet API
    url: https://api.lnmarkets.com
  - description: Testnet API
    url: https://api.testnet.lnmarkets.com

tags:
  - name: Login
    description: |
      Here you can find the different way to auth yourself on LN Markets, mostly use for browser.

  - name: Positions
    description: Interactions with the market and retrive your positions

  - name: User
    description: |
      You can retrieve your user data and modify it

  - name: State
    description: |
      LN Markets state with data about our node and api availability

  - name: History
    description: |
      LN Markets collected data over time

  - name: LNURL
    description: |
      Interaction with the lightning network using the [LNURL procotocol](https://github.com/btcontract/lnurl-rfc/)
      LNURL enable simple auth process and easier withdraw

security:
  - cookieAuth: []
  - jwtAuth: []

paths:
  '/history/bid-offer':
    get:
      $ref: 'paths/history/bid-offer/get.yaml'

  '/history/index':
    get:
      $ref: 'paths/history/index/get.yaml'

  '/login/credentials':
    get:
      $ref: 'paths/login/credentials/get.yaml'

    put:
      $ref: 'paths/login/credentials/put.yaml'

    post:
      $ref: 'paths/login/credentials/post.yaml'

  '/login/token':
    post:
      $ref: 'paths/login/token/post.yaml'

  '/login/credentials/reset':
    put:
      $ref: 'paths/login/credentials/reset/put.yaml'

  '/lnurl/a/c':
    get:
      $ref: 'paths/lnurl/a/c/get.yaml'

  '/lnurl/a':
    get:
      $ref: 'paths/lnurl/a/get.yaml'

  '/lnurl/w/r':
    get:
      $ref: 'paths/lnurl/w/r/get.yaml'

  '/lnurl/w':
    get:
      $ref: 'paths/lnurl/w/get.yaml'

  '/login/joule':
    post:
      $ref: 'paths/login/joule/post.yaml'
    get:
      $ref: 'paths/login/joule/get.yaml'

  '/positions/cancel':
    post:
      $ref: 'paths/position/cancel/post.yaml'

  '/positions':
    post:
      $ref: 'paths/position/post.yaml'

    put:
      $ref: 'paths/position/put.yaml'

    delete:
      $ref: 'paths/position/delete.yaml'

    get:
      $ref: 'paths/position/get.yaml'

  '/state':
    get:
      $ref: 'paths/state/get.yaml'

  '/state/node':
    get:
      $ref: 'paths/state/node/get.yaml'

  '/state/leaderboard':
    get:
      $ref: 'paths/state/leaderboard/get.yaml'

  '/user':
    get:
      $ref: 'paths/user/get.yaml'

    put:
      $ref: 'paths/user/put.yaml'

  '/user/update-password':
    put:
      $ref: 'paths/user/update-password/put.yaml'

  '/user/history':
    get:
      $ref: 'paths/user/history/get.yaml'

  '/user/jwt':
    get:
      $ref: 'paths/user/jwt/get.yaml'

    delete:
      $ref: 'paths/user/jwt/delete.yaml'

    post:
      $ref: 'paths/user/jwt/post.yaml'

  '/user/deposit':
    post:
      $ref: 'paths/user/deposit/post.yaml'

  '/user/withdraw':
    post:
      $ref: 'paths/user/withdraw/post.yaml'

  '/user/withdraw/lnurl':
    post:
      $ref: 'paths/user/withdraw/lnurl/post.yaml'

  '/user/logout':
    post:
      $ref: 'paths/user/logout/post.yaml'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session

    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
